#yourTrips {
    background-color: #e4f4fb;
    height: 800px;
    display: flex;
    .sideBar {
        width: 250px;
        padding: 20px 0;
        border: 1px solid grey;
        align-items: center;
        display: flex;
        justify-content: center;
        ul{
            line-height: 3;
            li {
                list-style-type: none;
            }
        }
    }
}