#highlightsContainer {
  height: 760px;
  text-align: center;

  .highlightsTextBox {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;

    h2 {
      margin-bottom: 30px 0;
      letter-spacing: 0.6px;
      font-size: 27px;
    }

    p {
      margin-top: 0;
      text-align: center;
    }
  }

  .highlight {
    cursor: pointer;
    height: 330px;
    width: 300px;
    margin: 10px;
    display: inline-block;
    position: relative;

    .overlayImage {
      background-color: #022c4070;
      width: 100%;
      height: 100%;
      border-radius: 12px;
      position: absolute;
      z-index: 1;
    }

    .textBox {
      position: absolute;
      z-index: 999;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .highlightTitle {
        text-align: center;
        color: white;
        font-size: 19.5px;
        font-weight: 500;
        white-space: pre-line;
      }
    }
  }

  .highlight:first-child,
  .highlight:nth-child(6),
  .highlight:nth-child(11) {
    .overlayImage {
      background-color: #e6df0091;
    }
  }

  .highlight:nth-child(2),
  .highlight:nth-child(7) {
    .overlayImage {
      background-color: #71029e73;
    }
  }

  .highlight:nth-child(3),
  .highlight:nth-child(8) {
    .overlayImage {
      background-color: #0ca6ef70;
    }
  }

  .highlight:nth-child(4),
  .highlight:nth-child(9) {
    .overlayImage {
      background-color: #11bd0e75;
    }
  }

  .highlight:nth-child(5),
  .highlight:nth-child(10) {
    .overlayImage {
      background-color: #a50b12b5;
    }
  }

  .image {
    height: 100%;
    width: 300px;
    font-size: 20px;
    display: inline-block;
    border-radius: 15px;
    position: relative;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    box-shadow: 2px 3px 33px 3px rgba(184, 178, 184, 0.31);
    object-fit: cover;
  }

  .image:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
  }

  button {
    border: 1px solid #ffd15f;
  }

  button:hover {
    border: 1px solid black;
  }
}
