#menuContainer {
    position: absolute;
    background: linear-gradient(180deg, black, transparent);
    width: 100%;
}

ul.menuList {
    display: inline-flex;
    color: white;
}

ul.menuList li.menuItems {
    width: auto;
    list-style-type: none;
    margin: 17px;
    font-size: 15px;
    cursor: pointer;
}

.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
  
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
    margin-left: 6px;
  }
