#menuContainer {
    position: absolute;
    background: linear-gradient(180deg, black, transparent);
    width: 70%;
    right: 0;

    ul.menuList {
        display: flex;
        color: white;
        justify-content: flex-end;
        align-items: center;

        li.menuItems {
            width: auto;
            list-style-type: none;
            margin: 15px;
            font-size: 14px;
            cursor: pointer;
            color: white;
            white-space: nowrap;
        }
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 3px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 484px) {
    #menuContainer {
        position: absolute;
        width: 100%;
        height: 50px;
        z-index: 1;
        
    }
}