#menuContainer {
    position: absolute;
    background: linear-gradient(180deg, black, transparent);
    width: 80%;
    display: flex;
    justify-content: flex-end;
    right: 0;

    ul.nav-items {
        display: flex;
        color: white;
        justify-content: flex-end;
        align-items: center;
        width: 700px;
        padding: 15px;

        li.nav-item {
            width: auto;
            list-style-type: none;
            margin: 7.5px;
            font-size: 15px;
            cursor: pointer;
            color: white;
            white-space: nowrap;
        }
    }

    .arrow {
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        margin-bottom: 3px;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 1200px) {
    #menuContainer {
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: #0e4972;
        border: 1px solid transparent;
    }

    #menuContainer ul.nav-items {
        display: none;
    }
}
