#newsLetterContainer {
    display: flex;
    height: 300px;
    background-color: #e4f4fb;
    align-items: center;

    .newsLetterWrapper {
        display: flex;
        justify-content: space-between;
        width: 1100px;
        margin: auto;

        .newsLetterTitle {
            width: 350px;
            height: auto;

            h1 {
                font-size: 30px;
                font-weight: 500;
                margin-top: 0;
            }
        }

        .btn {
            border: 1px transparent;
            background-color: #0a1e2c;
            width: 150px;
            height: 100%;
            font-size: 15px;
            color: white;
            margin-top: 0;
        }

        .btn:hover {
            background-color: transparent;
            border: 1px solid #0a1e2c;
            box-shadow: none;
            color: #0a1e2c;
        }

        .form {
            width: 486px;
            padding: 40px 0;
        
            .newsLetterBox {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 40px;
            }

            input[type="email"] {
                height: 90%;
                width: 300px;
                border-radius: 10px;
                outline: none;
                border: 1px solid #8080808c;
                padding-left: 10px;
            }

            ::placeholder {
                color: lightgrey;
                font-size: 15px;
            }

            label {
                font-size: 12px;
                color: #423b3bc4;
                margin-left: 5px;
            }

            .agree {
                display: flex;
                justify-content: flex-start;
                margin-top: 20px;
            }
        }
    }
}
