.oneProgramBox {
    width: 300px;
    height: 350px;
    text-align: center;
    padding: 30px 0;
    margin: auto;
 

    i {
        color: white;
        font-size: 50px;
    }

    h4 {
        color: white;
        font-weight: 500;
        font-size: 25px;
        text-align: center;
    }

    p {
        text-align: center;
        color: white;
        padding: 0 30px;
    }

    button {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        margin-top: 20px;
    }

    button:hover,
    button:active {
        color: black;
        background-color: #ffd15f;
        box-shadow: none;
        border: none;
    }
}


