#programContainer {
    width: 100%;
    height: 730px;

    .programBox {
        position: relative;
        height: 700px;
        margin: auto;
        background: url("./img/taksidi-program.jpg");
        background-size: cover;
        background-position: center;

        .overlayImage {
            background-color: #020202ad;
            width: 100%;
            height: 100%;
            border-radius: 12px;
        }

        h2 {
            position: absolute;
            top: 37px;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-weight: 500;
            font-size: 35px;
        }

        .programBoxes {
            display: flex;
            justify-content: space-evenly;
            width: 100vw;
            position: absolute;
            margin: auto;
            left: 50%;
            transform: translate(-50%, -55%);
            top: 50%;
            margin-top: 50px;
            overflow-x: auto;
            overflow-y: hidden;
            height: 600px;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 767px) {
    #programContainer .programBox h2 {
        font-size: 30px;
        text-align: center;
    }

    #programContainer .programBox .programBoxes {
        margin-top: 70px;
        justify-content: flex-start;
        height: 450px;
    }

    .oneProgramBox {
        margin: 0 30px;
    }
}
