#sliderContainer {
    height: 800px;
    background-image: url("./img/cover-taksidi.jpg");
    z-index: -2;
    padding-left: 35px;
    background-size: cover;
    background-position: center;

    .stripeBox {
        width: 35%;
        height: 100%;
        background-color: transparent;
        position: relative;

        .stripe {
            position: absolute;
            left: 50px;
            top: 0;
            width: 85%;
            height: 100%;
            background-color: #0a1e2c;
            z-index: 0;

            .logoBox {
                width: 150px;
                position: absolute;
                margin: 10px 40px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .textBox {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: center;

            .text {
                position: absolute;
                color: white;
                top: 50%;
                transform: translateY(-50%);
                width: 80%;

                h1 {
                    font-weight: 400;
                    margin-bottom: 0;
                    color: white;
                    font-size: 30px;
                }

                p {
                    color: #dedbdb;
                    margin-bottom: 28px;
                }

                .btn {
                    width: 180px;
                    height: 50px;
                    background-color: #ffd15f;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    font-size: 16px;

                    &:hover {
                        font-weight: 500;
                        margin: 0;
                        background-color: white;
                        border: 1px solid white;
                        color: black;
                    }
                }
            }
        }
    }
}
