* {
    font-family: 'Prompt', sans-serif;
}

#sliderContainer {
    width: 100vw;
    height: 100vh;
    background-image: url("./img/cover-taksidi.jpg");
    z-index: -2;
    padding-left: 35px;
    background-size: cover;
    background-position: center;
}

.logoBox {
    width: 200px;
    height: 70px;
    margin-top: 15px;
    position: absolute;
    z-index: 2;
    left: 25px;
}

.logoBox img {
    width: 100%;
    height: 100%;
}

.sliderBox {
    position: relative;
}

.slideStripeBox {
    width: 35vw;
    height: 100vh;
    background-color: transparent;
    position: relative;
}

.sliderStripe {
    position: absolute;
    left: 50px;
    top: 0;
    width: 30vw;
    height: 100vh;
    background-color: #0a1e2c;
    z-index: 0;
}

.sliderPhoto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textSliderBox {
    position: relative;
    width: 400px;
    height: 100vh;
}

.textSlider {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    
}

.textSlider h1 {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 0;
}

.textSlider p {
    color: #dedbdb;
    margin-bottom: 28px;
    
}

.btn {
    width: 180px;
    height: 50px;
    background-color: #ffd15f;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 16px;

    
}

.btn:hover{
    
    font-weight: 500;
    margin: 0;
    box-shadow: -2px 0px 51px 12px #000000ad;
}

// .btn p {
//     font-size: 15px;
//     font-weight: 500;
//     margin: 0;
//     color: black;
// }


