#sliderContainer {
    height: 800px;
    background-image: url("./img/cover-taksidi.jpg");
    z-index: -2;
    padding-left: 35px;
    background-size: cover;
    background-position: center;

    .slideStripeBox {
        width: 35%;
        height: 100%;
        background-color: transparent;
        position: relative;

        .sliderStripe {
            position: absolute;
            left: 50px;
            top: 0;
            width: 85%;
            height: 100%;
            background-color: #0a1e2c;
            z-index: 0;

            .logoBox {
                width: 200px;
                height: 70px;
                margin-top: 15px;
                position: absolute;
                z-index: 2;
                left: 35px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .textSliderBox {
            position: relative;
            height: 100%;

            .textSlider {
                position: absolute;
                color: white;
                top: 50%;
                transform: translate(-50%, -50%);
                left: 50%;
                width: 80%;

                h1 {
                    font-weight: 400;
                    margin-bottom: 0;
                    color: white;
                }

                p {
                    color: #dedbdb;
                    margin-bottom: 28px;
                }

                .btn {
                    width: 180px;
                    height: 50px;
                    background-color: #ffd15f;
                    border-radius: 30px;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    font-size: 16px;

                    &:hover {
                        font-weight: 500;
                        margin: 0;
                        background-color: white;
                        border: 1px solid white;
                        color: black;
                    }
                }
            }
        }
    }
}
