$fColor: #666;
$textTestimonial: Poppins, sans-serif;
$bgTestimonials: #6d656514;
$fColor: #666;
$fFamily: Georgia, serif;
$borderImg: rgb(248, 248, 248);
$sColor: rgba(0, 0, 0, 0.32);

.wrapperTestimonmials {
  position: relative;
  padding-top: 20px;

  .prev {
    left: -60px;
  }

  .next {
    right: -60px;
  }
}

.testimonialImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.testimonialName {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-family: $textTestimonial;
  font-weight: normal;
  font-size: 21px;
  font-style: italic;
  color: $fColor;
}

.testimonialText {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 15px;
  color: $fColor;
}

#testimonials {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  height: 300px;
  background-color: #e4f4fb;
  padding: 140px 0px 30px 80px;
}

.testimonialsTitle {
  width: 350px;
  height: 260px;

  h1 {
    font-size: 30px;
    font-weight: 500;
    margin-top: 0;
    text-align: left;
  }

  .btn {
    background-color: transparent;
    border: 1px solid;
    width: 230px;
    margin-top: 10px;
    font-size: 16px;
  }

  .btn:hover {
    border: 1px transparent;
    background-color: #0a1e2c;
    color: white;
    box-shadow: none;
  }
}
.testimonialsWrapper {
  display: -webkit-inline-box;
  
  overflow-x: auto;
  overflow-y: hidden;
  width: 600px;
  height: 450px;
  align-items: center;
padding-top: 70px;
}

.testimonialsWrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.onetestimonial {
  width: 270px;
  height: 250px;
  text-align: center;
  position: relative;
  border-radius: 6px;
  background-color: white;
  margin: 0 15px;
}

.onetestimonial:before {
  content: "\201C";
  font-family: $fFamily;
  color: $fColor;
  font-size: 100px;
  position: absolute;
  left: 10px;
}

.onetestimonial img {
  border: 5px solid $borderImg;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 11px 30px -4px $sColor;
  object-fit: cover;
}

#testimonialContainer {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  height: 400px;
  background-color: #e4f4fb;
  

  .testimonialTextBox {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    

    h2 {
      margin-bottom: 30px 0;
      letter-spacing: 0.6px;
      font-size: 27px;
      text-align: left;
    }

    p {
      margin-top: 0;
      text-align: left;
    }
  }
}

@media only screen and (max-width: 991px) {
  .onetestimonial {
    margin-top: 20px;
  }
}
